<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<title>test works</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<script src="https://redalert.battleforthenet.com/widget.js" async></script>
</head>
	<body>
		<header>
			<h2><a href="/">Home</a></h2>
			<nav>
				<li><a href="/logout">Log Out</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Register</a></li>
			</nav>
		</header>
		

