<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<title>test works</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<script src="https://redalert.battleforthenet.com/widget.js" async></script>
</head>
	<body>
		

