<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<meta charset="utf-8">
	<title>Sprinkle of API</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
	<body>
		<header>
			<h2><a href="/api">Sprinkle of API</a></h2>
			<nav>
				<% if(!currentUser || !currentUser.salt) {%>
					<li><a href="/login">Login</a></li>
				<%} else {%>
					<li> <a href="/"><%= currentUser.username %></a></li>
					<li><a href="/logout">Log Out</a></li>
					<li><a href="/register">Register User</a></li>
				<% } %>
			</nav>
		</header>
		<div id="flash-container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert"><%= success %></div>
            <% } %>
        </div>
		<div id="container">
		

