<% include ./partials/header %>

	<div class="form all-quote-form">
		<% quotes.forEach(function(quote){%>
			<h4><%= quote.quote %></h4>
			<p>-<%= quote.artist%></p>
			<a href="/api/quotes/<%=quote.id%>"><button>Edit</button></a>
		<% }) %>
	</div>	

<% include ./partials/footer %>