<% include ./partials/header %>

<% quotes.forEach(function(quote){%>
	<h4><%= quote.quote %></h4>
	<p>-<%= quote.artist%></p>
	<button>Edit</button>
	<button>Delete</button>
<% }) %>	

<% include ./partials/footer %>