<% include ./partials/header %>

	<div class="form ">
		<% quotes.forEach(function(quote){%>
			<h4><%= quote.quote %></h4>
			<p>-<%= quote.artist%></p>
			<button><a href="/api/quotes/<%=quote.id%>">Edit</a></button>
		<% }) %>
	</div>	

<% include ./partials/footer %>