<% include ./partials/header %>

<% suggestions.forEach(function(suggestions){%>
	<h4><%= suggestions.quote %></h4>
	<p>-<%= suggestions.artist%></p>
	<form>
		<input type="radio" name="submit" value="Submit" id="submit">
		<label for="submit">Submit</label>
		<input type="radio" name="submit" value="Delete" id="delete">
		<label for="delete">Delete</label>
	</form>
<% }) %>
	<button id="submitSuggestions">Submit Suggestions</button>	

<% include ./partials/footer %>

<% document.getElementById("submitSuggestions").on("click", function(){ %>
	alert("Hello")
<% }); %>
