<% include ./partials/header %>

	<p>Sprinkle of jeezy index page</p>
	<div class="btn-group">
		<button><a href="/api/quotes/asadmin">Get Quote</a></button>
		<button><a href="/quotecreator">Make Quote</a></button>
	</div>

<% include ./partials/footer %>