<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
</head>
<body>
	<p>This is a test page.  It does nothing.  </p>
	<button><a href="/api/quotes/asadmin">Get Quote</a></button>
	<button><a href="/quotecreator">Make Quote</a></button>
</body>
</html>