<form method="POST" action="/api/quotes/<%= process.env.SECRETPOST %>">
	<h1>Create a quote</h1>
	<input type="text" name="quote" placeholder="quote">
	<input type="text" name="artist" placeholder="artist">
	<input type="text" name="song" placeholder="song">
	<button type="submit">enter</button>
	
</form>