<!DOCTYPE html>
<html>
<head>
	<title>Sprinkle Of Jeezy</title>
	<link rel="stylesheet" href="stylesheets/randomQuote.css">
</head>
<body>
	<header>
		<h1><a href="#">Home</a></h1>
		<nav>
			<li><a href="/api">Back End</a></li>
			<li><a href="">New Quote</a></li>
		</nav>
	</header>

	<div id="container">
		<h2 id="text"></h2>
		<h4 id="artist"></h4>
	</div>

	<footer>
			<p>Copyright 
			<span>
				<!-- Sets the year to the current year -->
				<script type="text/javascript">
					var d = new Date()
					document.write(d.getFullYear())
				</script>
			</span><span><a href="#">Dvontrecoleman.com</a></span></p>
		</footer>
	<script type="text/javascript" src="randomQuote.js"></script>
</body>
</html>