<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<meta charset="utf-8">
	<title>Sprinkle Of Jeezy</title>
	<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
	<link rel="stylesheet" href="stylesheets/randomQuote.css">
</head>
<body>
	<header>
		<h2><a href="#">Home</a></h2>
		<nav>
			<li><a href="/api/spotify">Connect Spotify</a></li>
			<li><a href="/api">Back End</a></li>
			<li><a href="">New Quote</a></li>
		</nav>
	</header>

	<div id="container">
		<h2 id="text"></h2>
		<h4 id="artist"></h4>
		<button id="playButton" onclick="playSong()">Play</button>
	</div>

	<footer>
		<p>Copyright 
		<span>
			<!-- Sets the year to the current year -->
			<script type="text/javascript">
				var d = new Date()
				document.write(d.getFullYear())
			</script>
		</span><span><a href="https://Dvontrecoleman.com">Dvontrecoleman.com</a></span></p>
	</footer>
	<script type="text/javascript" src="randomQuote.js"></script>
</body>
</html>