body
{
	margin: 0;
	background-color: #ccc;
	color: rgba(9,9,13,.97);
	font-family: 'Roboto', san-serif;
}

header
{
	background-color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 0 15px;
}

header h2
{
	text-align: center
}

header li
{
	list-style: none;
}

header a
{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}

header a:hover
{
	opacity: 1
}

header nav
{
	display: flex
}

header nav li
{
	margin: 0 15px;
}

header nav li:first-child
{
	margin-left:0;
}

header nav li:left-child
{
	margin-right: 0;
}

footer{
	position: fixed;
	min-height: 30px;
	background-color: rgb(150,150,150);
	text-align: center;
	width: 100%;
	left: 0;
	bottom: 0;
}

footer a{
	text-decoration: none;
	color: white;
}

#container{
	margin-bottom: 30px;
	padding-bottom: 50px;
}

@media (max-width: 1000px)
{
	header
	{
		padding: 20px 50px;
	}
}

.index
{
	text-align: center;
	font-size: 30px;
}

.btn-group
{
	display: flex;
	flex-wrap: wrap;
	width: 75%;
	height: 150px;
	margin: auto;
}

.btn-group button
{
	background-color: black;
	color: white;
	width: 50%;
	height: 100%;
	flex-grow: 1;
	padding: auto;
}

.btn-group button a
{
	text-decoration: none;
	color: white;
	display: block;
	padding-top: 8%;
	height: 100%;
	width: 100%;
}


@media (max-width: 700px)
{
	header
	{
		flex-direction: column;
		margin-bottom: 15px;
	}

	body
	{
		font-size: 18px;
	}

	.btn-group
	{
		display: flex;
		flex-direction: row;
	}

	.btn-group button
	{
		width: 100%;
	}
}

/*==============================================
//   FLASH Styles
==============================================*/
.alert{
    border: 1px solid;
    border-radius: 4px;
    width: 75%;
    margin: 20px 12.5%;
    margin-bottom: 20px;
    padding: 15px 0;
    text-align: center;
    font-weight: 700;
}

.alert-success{
	background-color: rgba(110, 230, 106, 0.09);
	color: rgb(60, 160, 40);
	border: .5px solid rgba(47, 165, 43);
}

.alert-danger{
	background-color: rgba(230, 110, 106, .09);
	color: rgb(160, 40, 60);
	border: .5px solid rgb(156, 47, 43);
}



/*==============================================
//   FORM Styles
==============================================*/
.form-label{
	text-align: center;
}
.form{
	display: flex;
	flex-direction: column;
	width: 75%;
	margin: 0 12.5%;
}

.form button{
	text-transform: uppercase;
	height: 30px;
	border: none;
	text-decoration: none;
}


.quote-form button{
	background-color: rgb(56, 184, 143);
	color: white;
}

.form .form-group{
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
}
.form label{
	text-align: center;
}

.login-form button{
	background-color: rgb(9,270,105);
	color: white;
}

.delete button{
	margin-top: 0;
	background-color: rgb(173, 65, 19);
	color: white;
}

.register-form button{
	background-color: white;
	color: rgb(9, 270, 105);
}

.all-quote-form{
	text-align: center;
}

.all-quote-form button{
	margin: auto;
	width: 50%;
	background-color: rgb(11,221,183);
	color: white;
	text-decoration: none;
}




