.index
{
	color: blue;
	text-align: center;
	font-size: 30px;
}

.btn-group
{
	display: flex;
	flex-wrap: wrap;
	width: 75%;
	height: 150px;
	margin: auto;
}

.btn-group button
{
	width: 50%;
	height: 100%;
}

.btn-group button a
{
	text-decoration: none;
	display: block;
	padding-top: 12.5%;
	height: 100%;
	width: 100%;
}

@media all and (max-width:800px)
{
	body
	{
		background-color: #ccc;
		font-size: 18px;
	}

	.btn-group
	{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		width: 75%;
		margin: auto;
		height:150px;
	}

	.btn-group button
	{
		border: red solid 3px;
		border-radius: 30px;
		width: 100%;
		flex-grow: 1;
		margin: 3px;
	}
}
