body{
	margin: 0;
	font-family: 'Slabo 27px', serif;
}

header{
	background-color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 0 15px;
}

header a{
	text-decoration: none;
	color: white;
}

header nav li{
	padding-right: 15px;
	list-style: none;
}

header nav{
	display: flex;
	flex-direction: row;
}

footer{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: 30px;
	background-color: #ccc;
	color: black;
	text-align: center;
	padding: auto;
}

footer a{
	text-decoration: none;
	color: black;
}

#container{
	text-align: center;
	padding: 12.5% 0;
	width: 75%;
	margin: auto;
}
/* Mobile device media Queries */
@media (max-width: 1000px)
{
	body{
		font-size: 30px;
	}

	#container{
		font-size: 40px;
	}
}