body{
	margin: 0;
	font-family: 'Slabo 27px', serif;
	color: rgba(9,9,13,.97);
	background-color: #ccc;
}

header
{
	background-color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 0 15px;
}

header h2
{
	text-align: center
}

header li
{
	list-style: none;
}

header a
{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}

header a:hover
{
	opacity: 1
}

header nav
{
	display: flex
}

header nav li
{
	margin: 0 15px;
}

header nav li:first-child
{
	margin-left:0;
}

header nav li:left-child
{
	margin-right: 0;
}

footer{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: 30px;
	background-color: rgb(150,150,150);
	color: black;
	text-align: center;
	padding: auto;
}

footer a{
	text-decoration: none;
	color: black;
}

#container{
	text-align: center;
	padding: 12.5% 0;
	width: 75%;
	margin: auto;
}
/* Mobile device media Queries */
@media (max-width: 1000px)
{
	body
	{
		font-size: 18px;
	}

	header
	{
		flex-direction: column;
		margin-bottom: 15px;
		padding: 20px 50px;
	}
}